header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 64px;
}

@media (width < 1200px) {
    header {
        height: 76px;
    }
}

@media (width >= 1200px) { 
    header {
        height: 108px;
    }
    
}